{% load static %}

<link rel="stylesheet" href="{% static "style.css" %}">
{% csrf_token %}
<h1>I want to be the number One hero!!!</h1>
{% if user.is_authenticated %}
<h2>Welcome, {{user.username}}</h2>
{% else %}
<h2>Sign in now!</h2>
{% endif %}
{% if user.is_authenticated %}
<a href="logout">
    <button>Log out</button>
</a>
{% else %}
<a href="login">
    <button>Login or Sign up</button>
</a>
{% endif %}
<br>
<img src="{% static "image.jpg" %}" alt="My image" width="500", height="500">


